@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    width: max-content;
    animation: scroll 90s linear infinite; /* Adjust speed */
}
  